# Python Code Demo for Synthetic Data Creation Using Faker
**The following code generates simple synthetic customer data by calling on a pre-established synthetic data library called Faker.**

In [3]:
import random
import pandas as pd
import numpy as np
from faker import Faker

# Initialize the Faker library
fake = Faker()

# Set seeds for reproducibility
random.seed(42)
np.random.seed(42)

# Number of synthetic records
num_records = 1000

# Function to generate more realistic synthetic customer data
def generate_data(n):
    data = []
    for _ in range(n):
        name = fake.name()  # Generate full name
        email = fake.email()  # Generate fake email address
        phone = fake.phone_number()  # Generate fake phone number
        city = fake.city()  # Generate random city
        state = fake.state()  # Generate random U.S. state
        age = random.randint(18, 70)  # Random age
        gender = random.choice(['Male', 'Female', 'Non-binary'])  # Random gender
        income = round(np.random.normal(60000, 15000), 2)  # Normal distribution for annual income
        product_interest = random.choice(['Fitness', 'Tech', 'Travel', 'Fashion', 'Home Decor', 'Beauty'])  # Random interest category
        purchased = np.random.choice([0, 1], p=[0.7, 0.3])  # 30% chance of having purchased
        data.append([name, email, phone, city, state, age, gender, income, product_interest, purchased])
    return data

# Define column names
columns = [
    'Name', 'Email', 'Phone', 'City', 'State', 
    'Age', 'Gender', 'Annual_Income', 'Product_Interest', 'Purchased'
]

# Generate and store the data in a DataFrame
synthetic_data = pd.DataFrame(generate_data(num_records), columns=columns)

# Preview the first few rows
synthetic_data.head()

,Name,Email,Phone,City,State,Age,Gender,Annual_Income,Product_Interest,Purchased
0,Mrs. Jade Henson,jgomez@example.net,+1-918-420-7200x40925,Brittanystad,Maine,58,Male,67450.71,Fitness,1
1,Matthew Jones,jonathanjoseph@example.com,262.639.5013x4248,Rodneyshire,Missouri,65,Female,57926.04,Tech,0
2,James Howell,patrickwong@example.net,001-412-895-0169x3933,Johnsonmouth,Virginia,32,Male,56487.70,Beauty,0
3,Sarah Bentley,mgonzalez@example.com,(505)240-8291x08746,New Monicachester,Nebraska,24,Non-binary,56487.95,Beauty,1
4,Frederick Lawson,thompsonpatricia@example.org,(454)421-5092,Huntland,New Jersey,52,Male,83688.19,Home Decor,0